.cart-container,
.cart-container-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 100%;
  height: 80vh;
  padding: 0 5vw;
  font-family: 'Gilroy-medium';
}

.cart-container .cart,
.cart-container-empty .cart {
  width: 100%;

  border-radius: 5px;
  overflow: hidden;
}

.cart-container .cart .cart-columns,
.cart-container-empty .cart .cart-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #373f47;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-container .cart .cart-columns p,
.cart-container-empty .cart .cart-columns p {
  color: #00c5aa;
  width: 10vw;
  text-align: center;
  margin: 20px;
  font-weight: 100;
  font-size: 18px;
  font-family: 'Lato';
}

.cart-container .cart .cart-columns p:first-child,
.cart-container-empty .cart .cart-columns p:first-child {
  width: 2vw;
  text-align: start;
}

.cart-container .cart .cart-items,
.cart-container-empty .cart .cart-items {
  min-height: 40vh;
  max-height: 70vh;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart-container .cart .cart-items::-webkit-scrollbar,
.cart-container-empty .cart .cart-items::-webkit-scrollbar {
  width: 7px;
}

.cart-container .cart .cart-items::-webkit-scrollbar-thumb,
.cart-container-empty .cart .cart-items::-webkit-scrollbar-thumb {
  background-color: #00c5aa;
}

.cart-container .cart .cart-total,
.cart-container-empty .cart .cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
  height: 9vh;
  background-color: #373f47;
  justify-content: space-between;
}
.cart-container .cart .cart-total .total-amount,
.cart-container-empty .cart .cart-total .total-amount {
  color: #ffffff;
  width: 50%;
  text-align: center;
  font-size: 1rem;
}

.cart-total .total-amount {
  margin: 0;
  font-weight: 100;
}

.finish-buy {
  display: flex;
  justify-content: center;
}

.finish-buy .ui.teal.button {
  width: 145px;
  height: 45px;

  border-radius: 200px;
  border: none;

  outline: none;
  font-family: 'Gilroy-medium';
  font-weight: 100;
}

.finish-buy .ui.teal.button span {
  font-size: 15px !important;
}

.finish-buy .ui.teal.button.btn-finish-buy {
  width: 110px;
  height: 40px;
  padding: 0;
}

.finish-buy .ui.teal.button.btn-more-products {
  background: none;
  border: 2px solid #00c5aa;
  color: #00c5aa;
  width: 110px;
  height: 45px;
  padding: 0;
}

.finish-buy .ui.teal.button.btn-more-products:hover {
  color: #fff;
}

.finish-buy-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.cart-container h2 {
  text-align: center;
  margin: 100px !important;
  font-family: 'Gilroy-medium';
  font-size: 36px;
}

.cart-container .button-back-home {
  width: 80% !important;
  height: 50px !important;
  font-weight: 100 !important;
  color: #f2f2f2 !important;
  background-color: #00b5ad !important;
  border: 2px solid #00b5ad !important;
  border-radius: 30px !important;
  font-size: 15px !important;
  font-family: 'Gilroy-medium' !important;

  margin-top: 20px !important;
}

.cart-container .button-back-container {
  width: 85%;
  display: flex;
  justify-content: flex-start;
}

.ui.button.button-back {
  display: flex;
  width: 100px;
  margin-bottom: 20px;
  color: #00c5aa;
}

.ui.button.button-back:hover,
.ui.button.button-back:active,
.ui.button.button-back:focus {
  color: #00c5aa;
}

.button-back span {
  font-family: 'Gilroy-Medium';
  padding-left: 6px;
}

@media screen and (min-width: 540px) {
  .cart-container .cart .cart-total,
  .cart-container-empty .cart .cart-total {
    padding: 0 25px;
  }

  .cart-container .cart .cart-total .total-amount,
  .cart-container-empty .cart .cart-total .total-amount {
    color: #ffffff;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
  }

  .btn-finish-buy-container {
    display: flex;
    justify-content: flex-end;
  }

  .btn-more-products-container {
    display: flex;
    justify-content: flex-end;
  }

  .finish-buy .ui.teal.button.btn-finish-buy {
    width: 140px;
    height: 50px;
  }

  .finish-buy .ui.teal.button.btn-more-products {
    width: 140px;
    height: 50px;
  }

  .finish-buy .ui.teal.button span {
    font-size: 16px !important;
    text-transform: uppercase;
    text-align: center;
  }

  .finish-buy-buttons {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 840px) {
  .cart-container .cart .cart-total .total-amount,
  .cart-container-empty .cart .cart-total .total-amount {
    font-size: 2rem;
  }
  .btn-finish-buy-container {
    width: 50%;
  }

  .btn-more-products-container {
    width: 50%;
  }

  .button-back-container .button-back {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .finish-buy .ui.teal.button.btn-finish-buy {
    width: 200px;
  }

  .finish-buy .ui.teal.button.btn-more-products {
    width: 200px;
  }
}

@media screen and (min-width: 1365px) {
  .finish-buy {
    width: 50%;
  }

  .finish-buy-buttons {
    width: 100%;
  }

  .btn-finish-buy-container {
    width: 62%;
    display: flex;
    justify-content: flex-end;
  }

  .btn-more-products-container {
    width: 35%;
    display: flex;
    justify-content: flex-end;
  }

  .button-back-container .button-back {
    font-size: 1rem;
  }
}

.cart-container .cart .cart-total .btn,
.cart-container-empty .cart .cart-total .btn {
  color: #f2f2f2;
  font-weight: 100;
  background-color: #00c5aa;
  min-width: 50%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

@media screen and (max-width: 840px) {
  .cart-container .cart .cart-total .btn,
  .cart-container-empty .cart .cart-total .btn {
    font-size: 0.7rem;
  }
}

.cart-container-empty {
  background-color: #373f47;
}

.cart-container-empty .empty-cart-title {
  color: #00c5aa;
  line-height: 50px;
  text-align: center;
}

.cart-container-empty .empty-cart {
  font-size: 10rem;
  color: #00c5aa;
}

.cart-container-empty .backToLanding-btn {
  color: #373f47;
  font-weight: 600;
  background-color: #00c5aa;
  height: 10vh;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 95px;
  height: auto;
  width: 100%;
  padding: 5px;
  -webkit-transition: 1s all;
  transition: 1s all;
  font-weight: 600;
}

.cart-items hr {
  border: 1px solid #f2f2f2 !important;
}

.cart-item .item-img {
  width: 300px;
}

.cart-item .item {
  min-width: 10vw;
  max-width: 10vw;
  text-align: center;
  font-size: 0.8rem;
}

.cart-item .item-name {
  font-size: 0.8rem;
  white-space: wrap;
}

@media screen and (min-width: 540px) {
  .cart-item .item-name {
    font-size: 0.8rem;
  }

  .cart-item .item {
    font-size: 1.143rem;
    max-width: 0;
  }
}

.cart-item .item-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.cart-item .delete-item {
  cursor: pointer;
  color: #7a7a7a;
  min-width: 2vw;
  max-width: 2vw;
}

.cart-item .delete-item:hover {
  color: #373f47;
}
