.orders-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  min-height: 90vh;
  width: 100%;
  font-family: 'Gilroy-medium';
}

.orders-container .button-back-container {
  width: 85%;
  margin-top: 20px;
}

.orders-container .orders-organizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  overflow: hidden;
  border-radius: 5px;
  width: 90%;
  max-height: 80vh;
  background-color: #00c5aa;
  border: 1px solid #c9c9c9;
  margin-bottom: 60px;
}

.orders-container .orders-organizer .title {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  line-height: 10px;
  text-align: start;
  padding-left: 5%;
  font-family: 'Gilroy-medium';
}

@media screen and (min-width: 540px) {
  .orders-container .orders-organizer .title {
    font-size: 2.2rem;
    text-align: center;
    padding-left: 0;
    padding-top: 40px;
  }
}

.orders-container .orders-organizer .btn-clear {
  align-self: flex-end;
  background-color: #1f2226;
  margin: 0px 5px 5px 0px;
  width: 131px;
  font-size: 0.7rem;
  color: #fff;
}

.orders-container .orders-organizer .btn-clear:hover {
  opacity: 0.94;
}

@media screen and (min-width: 540px) {
  .orders-container .orders-organizer .btn-clear {
    font-size: 1rem;
  }
}

.orders-container .orders-organizer .orders-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 7vh;
  background-color: #373f47;
}

.orders-container .orders-organizer .orders-columns p {
  width: 25%;
  text-align: center;
  color: #00c5aa;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Lato';
}

.orders-container .orders-organizer .orders {
  height: 40vh;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 540px) {
  .orders-container .orders-organizer .orders {
    height: 60vh;
  }
}

.orders-container .orders-organizer .orders::-webkit-scrollbar {
  width: 7px;
}

.orders-container .orders-organizer .orders::-webkit-scrollbar-thumb {
  background-color: #00c5aa;
}

.orders-container .orders-organizer .orders .order-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  padding: 4px;
  min-height: 48px;
  font-weight: 600;
  font-size: 16px;
}

.ui.red.button,
.ui.red.buttons .button {
  background-color: #e64949;
  font-size: 13px;
  font-family: 'Gilroy-medium';
  font-weight: 100;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
  .orders-container .orders-organizer .orders .order-row .id,
  .orders-container .orders-organizer .orders .order-row .items {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .orders-container .orders-organizer .orders .order-row .id:hover,
  .orders-container .orders-organizer .orders .order-row .items:hover {
    position: absolute;
    border: solid 2px #373f47;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #00c5aa;
    padding: 3px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.orders-container .orders-organizer .orders .order-row:first-child .id {
  background-color: #00c5aa;
}

.orders-container .orders-organizer .orders .order-row .order-info {
  width: 20%;
  text-align: center;
}

.orders-container
  .orders-organizer
  .orders
  .order-row
  .order-info.items
  ul
  li::marker {
  color: white;
}

.order-clear {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  height: 60px;
}
