.item-detail-container .button-back-container {
  width: 45%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.ui.button.button-back {
  display: flex;
  width: 100px;
  margin-bottom: 20px;
  color: #00c5aa;
}

.ui.button.button-back:hover,
.ui.button.button-back:active,
.ui.button.button-back:focus {
  color: #00c5aa;
}

.item-container {
  display: flex;
  font-family: 'Gilroy-medium';
  background-color: #fff;
  margin: auto;
  width: 65%;
  border-radius: 10px;
  height: 65vh;
}

.item-image {
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: center;
  padding-right: 20px;
}

.item-image img {
  width: 400px;
  margin-right: 20px;
  border-right: 2px solid #f1f1f1;
}

.item-content {
  padding-right: 30px;
  padding-top: 20px;
  display: flex;

  width: 55%;
  flex-direction: column;
  justify-content: center;
}

.item-title h2 {
  font-size: 22px;
  font-family: 'Gilroy-medium';
}

.item-price h3 {
  font-size: 36px;
  color: #00a650;
  padding-top: 10px;
  padding-bottom: 20px;
}

.item-description {
  font-size: 14px;
  font-weight: normal;
}

.item-description p {
  text-align: justify;
  font-size: 16px;
  padding-right: 10px;
}

.ui.rating {
  margin-top: 20px;
}

.tags {
  margin: 20px 0;
}

.tag {
  border-radius: 4px;
  color: #000;
  font-size: 13px;
  font-weight: lighter;
  padding: 5px 8px;
}

.tag.tag-stock {
  color: #089900;
  background-color: #5fff6e;
}

.tag.tag-no-stock {
  color: #800000;
  background-color: #ff5a5a;
}

@media only screen and (max-width: 1600px) {
  .item-container {
    width: 75%;
  }

  .item-image img {
    width: 360px;
  }
}

@media only screen and (max-width: 1400px) {
  .item-container {
    width: 70%;
  }

  .item-description p {
    text-align: justify;
    font-size: 14px;
  }

  .item-image img {
    width: 280px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .item-container {
    width: 75%;
  }

  .item-image img {
    width: 300px;
    padding-right: 10px;
  }

  .item-price h3 {
    font-size: 28px;
  }

  .ui.rating {
    font-size: 0.8rem !important;
    margin-top: 0;
  }

  .item-title h2 {
    font-size: 19px;
    padding: 10px 0;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .item-container {
    flex-direction: column;
    height: 85vh;
    width: 80%;
  }

  .item-price h3 {
    font-size: 28px;
  }

  .item-description p {
    text-align: justify;
    font-size: 13px;
  }

  .ui.rating {
    font-size: 0.8rem !important;
    margin-top: 0;
  }

  .item-title h2 {
    font-size: 19px;
    padding: 10px 0;
  }

  .item-image {
    margin: auto 0px;
    width: 100%;
  }

  .item-image img {
    width: 280px;
    border: none;
    margin: auto;
  }

  .item-content {
    padding-left: 20px;
    width: 90%;
    padding-top: 20px;
    margin: auto;
    border-top: 2px solid #f1f1f1;
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  .item-container {
    flex-direction: column;
    height: 85vh;
    width: 90%;
  }

  .item-price h3 {
    font-size: 28px;
  }

  .item-description p {
    text-align: justify;
    font-size: 13px;
  }

  .ui.rating {
    font-size: 0.8rem !important;
    margin-top: 0;
  }

  .item-title h2 {
    font-size: 19px;
    padding: 10px 0;
  }

  .item-image {
    margin: auto 0px;
    padding-right: 0;
    width: 100%;
  }

  .item-image img {
    width: 250px;
    border: none;
  }

  .item-content {
    padding-left: 20px;
    width: 90%;
    padding-top: 20px;
    margin: auto;
    border-top: 2px solid #f1f1f1;
  }
}

@media only screen and (max-width: 576px) and (min-width: 300px) {
  .item-price h3 {
    font-size: 20px;
  }

  .item-description {
    width: auto;
    height: auto;
    padding-right: 10px;
  }

  .item-description p {
    text-align: justify;
    font-size: 12px;
  }

  .item-image {
    margin: 0 auto;
    padding-right: 0;
    width: 100%;
  }

  .item-image img {
    width: 180px;
    margin: auto;
    border: none;
  }

  .item-container {
    flex-direction: column;
    height: auto;
    width: 90%;
  }

  .ui.rating {
    font-size: 0.8rem !important;
    margin-top: 10px;
  }

  .item-content {
    width: 90%;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 10px;
    margin: 0 auto;
    border-top: 2px solid #f1f1f1;
  }
}
