.item-container {
  display: flex;
  font-family: 'Gilroy-medium';
}

.item-image {
  display: flex;
  align-items: center;
}

.item-image img {
  width: 400px;
  margin-right: 20px;
}

.item-content {
  border-left: 2px solid #f1f1f1;
  padding-left: 50px;
  padding-top: 20px;
  width: 500px;
}

.item-title h2 {
  font-size: 22px;
  font-family: 'Gilroy-medium';
}

.item-price h3 {
  font-size: 36px;
  color: #00a650;
  padding-top: 10px;
  padding-bottom: 20px;
}

.item-description {
  font-size: 14px;
  font-weight: normal;
}

.item-description p {
  text-align: justify;
  font-size: 15px;
}

.ui.rating {
  margin-top: 20px;
}

.tags {
  margin: 20px 0;
}

.tag {
  border-radius: 4px;
  color: #000;
  font-size: 13px;
  font-weight: lighter;
  padding: 5px 8px;
}

.tag.tag-stock {
  color: #089900;
  background-color: #5fff6e;
}

.tag.tag-no-stock {
  color: #800000;
  background-color: #ff5a5a;
}

@media only screen and (max-width: 1980px) {
  .ui.container {
    width: 1000px !important;
  }

  .item-description p {
    text-align: justify;
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.container {
    width: 1000px !important;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .ui.container {
    width: 800px !important;
  }
  .item-description p {
    text-align: justify;
    font-size: 12px;
  }

  .item-image img {
    width: 250px;
    margin-right: 5px;
  }

  .item-content {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  .ui.container {
    width: 1000px !important;
  }
  .item-description p {
    text-align: justify;
    font-size: 12px;
  }

  .item-image img {
    width: 250px;
    margin-right: 5px;
  }

  .item-container {
    flex-direction: column;
  }

  .item-content {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 576px) and (min-width: 375px) {
  .ui.container {
    width: 1000px !important;
  }

  .item-title {
    font-size: 15px;
    width: 350px;
  }

  .item-price h3 {
    font-size: 20px;
  }

  .item-description {
    width: 350px;
    height: 180px;
  }

  .item-description p {
    text-align: justify;
    font-size: 12px;
  }

  .extra {
    margin-top: 20px;
  }

  .item-image img {
    width: 250px;
    margin-right: 5px;
  }

  .item-container {
    flex-direction: column;
  }

  .item-content {
    padding-left: 10px;
  }
}
