.ui.container.item-detail-container {
  /* width: 700px !important; */
}

.itemDetail {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.ui.container.itemDetail {
  /* width: 600px !important;  */
}

.buttons-compra {
  display: flex;

  justify-content: center;

  margin-left: 100px;
}

.buttons-compra .button-cancelar-container,
.button-finalizar-container {
  display: flex;
  justify-content: center;
  width: 30%;
}
