.item-detail-container {
  width: auto;
}

.itemDetail {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.buttons-compra {
  display: flex;

  justify-content: center;

  margin-left: 100px;
}

.buttons-compra .button-cancelar-container,
.button-finalizar-container {
  display: flex;
  justify-content: center;
  width: 30%;
}
