a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #1ee2e7;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #222;
}

.nav-content {
  display: flex;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1ee2e7;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
}

.nav-link {
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'system-ui';
  font-size: 18px;
  letter-spacing: 1px;
  color: #c9c9c9;
  padding: 10px 14px;
  text-decoration: none;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  font-weight: 500;
  display: block;
}

.nav-link:hover {
  color: #1ee2e7;
}

.nav-logo img {
  width: 100%;
}

.cart-widget {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1400px) {
  .nav-link {
    font-size: 16px;
  }

  .nav-logo img {
    width: 90%;
  }

  .nav-menu {
    padding-right: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-link {
    font-size: 14px;
  }

  .nav-logo img {
    width: 70%;
  }

  .nav-menu {
    padding-right: 20px;
  }

  .nav-link {
    padding: 4.6px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    display: flex;
  }

  .nav-logo {
    order: 2;
    display: flex;
    justify-content: center;
  }

  .nav-content {
    order: 3;
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 5.7rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .nav-link {
    padding: 0 0;
    margin: 20px 10px;
    font-size: 14px;
    color: #6b6b6b;
  }
  .nav-logo img {
    width: 70%;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;

    order: 1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  @media only screen and (max-width: 500px) {
    .nav-menu {
      top: 5.3rem;
    }
  }
  @media only screen and (max-width: 500px) {
    .nav-menu {
      top: 5.3rem;
    }
  }

  @media only screen and (max-width: 450px) {
    .nav-menu {
      top: 4.5rem;
    }
  }
  @media only screen and (max-width: 400px) {
    .nav-menu {
      top: 4.3rem;
    }
  }

  @media only screen and (max-width: 375px) {
    .nav-menu {
      top: 4rem;
    }
  }

  @media only screen and (max-width: 350px) {
    .nav-menu {
      top: 4rem;
    }
  }

  @media only screen and (max-width: 250px) {
    .nav-menu {
      top: 5rem;
    }
  }
}
